name: Otomatik Gorsel Olusturucu
on:
  schedule:
    - cron: '*/15 * * * *' # Her 15 dakikada bir çalıştırır
  workflow_dispatch: # Elle başlatma butonu ekler

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Kutuphaneleri Yukle
        run: pip install requests beautifulsoup4 pillow
      - name: Botu Calistir
        run: python olus.py
      - name: Degisikleri Kaydet
        run: |
          git config --global user.name 'GorselBot'
          git config --global user.email 'bot@github.com'
          git add .
          git commit -m "Yeni bagisci gorselleri eklendi" || exit 0
          git push
